body{
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}

h1{
    color: green;
    text-align: center;
    border: double green;
}

h2 { 
    text-align: center;
    color: green;
}

h3{
    color: green;
    text-align: center;
}

h4{
    text-align: center;
}

hr{
    border: double green;
}

p{
    color: blue;
    position: relative;
}

li{
    color: blue;
}

button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.center{
    display: block;
    margin: 0px auto;
}

.list{
    list-style-image: url('img/balle_donic_coach2.png');
    padding-left: 3%;
}

.backToTop{
    background-color: green;
    border: 1px solid black;
    color: white;
    padding: 15px;
    position: fixed;
    bottom:1%;
    right:1%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100000000000000000px;
}